<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">

    <div class="col-12 col-lg-6 hero-div">
        <img src="img/hero-image.png" width="400" height="400" class="d-block img-fluid mx-auto hero" loading="lazy" alt="Wasfati with Node.js">
    </div>

    <div class="col-12 col-lg-6 hero-text">
        <h1 class="display-5 fw-bold mb-3">
            Wasafati, delicious recipes from our family cookbook
        </h1>
        <p class="lead">
            Savor Family Favorites: Delight in cherished recipes from our family cookbook, bringing warmth and nostalgia to every meal. Explore our family recipes today.
        </p>
    </div>


</div>