:root 
{
 --bs-font-sans-serif: 'Quicksand', sans-serif;
}

body 
{
    background-image: linear-gradient(to top, #F7A9A8, #FFFFFF);
    background-repeat: no-repeat;
}

.container-xxl 
{
    border-radius: 10px; 
    margin-top: 40px;
}

.shadow-custom
{
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
}

a
{
    color: var(--bs-dark);
}

.hero
{
    border-radius: 10px;
}


.hero-div
{
    padding: 0;
}

.explore-btn
{
    background-color: #F7A9A8;
    border-color: #F7A9A8;
}

.explore-btn:hover
{
    background-color:#EF798A;
    border-color: #EF798A;
}


.random-btn
{
    color: #F7A9A8;
    border-color: #F7A9A8;
}

.random-btn:hover
{
    background-color:#EF798A;
    border-color: #EF798A;
}

@media (max-width: 768px) {
    .me-md-2 {
      margin: 0.5rem;
    }
  }




/* category card */

.category__link
{
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250ms all;
}

.category__link:hover
{
    transform: scale(1.1);
}

.category__img
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
    overflow: hidden;
    border-radius: 10px;
}

.category__img img
{
    width: 100%;
    object-fit: cover;
}

.categories
{
    display: flex;
    flex-direction: row;

}


footer
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

footer p 
{
    color: white;
    text-align: center;
}